body {
  font-family: 'Georgia', serif;
  margin: 0;
  padding: 0;
  background: #fafafa;
  color: #333;
}

.navbar-brand {
  font-size: 45px;
  font-weight: Bold;
  font-family: petrona;
}

.navbar-nav {
  position: absolute;
  right: 100px;
}

.hero {
  background: url("foto/model.jpeg") no-repeat center center/cover;
  height: 80vh; 
  position: relative;
  height: 650px;
  top: 10px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.hero .container {
  position: relative;
  z-index: 1;
}

.fw-bold {
  position: absolute;
  left: 540px;
  font-size: 75px;
  top: 50px;
  opacity: 0.6;
}

.p-nav {
  position: absolute;
  left: 30px;
  margin-top: -110px;
  font-size: 25px;
  
}

.btn {
  position: absolute;
  left:165px;
  top: 160px;
  background-color: #021648;
  border-radius: 20px;
}

